# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ipynb_checkpoints/

# Environments
.env
.venv
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Project local downloads (optional caches)
data/gutenberg_cache/
